{% extends 'base.html'%}
{% load static %}
{% block content %}

     <div class="breadcrumb-bg">
       <div class="container">
         <ul class="breadcrumb">
            <li><a href="/">Página Inicial</a></li>
            <li class="currrent">Blog</li>
          </ul>
       </div>
     </div>
   
       <div class="container py-5 blog">
           <div class="row py-5">
            {% for post in post_list %}
            <div class="col-lg-3 col-xs-12 col-md-6 col-sm-12 py-4">
                <div class="card py-3 post post-{{ post.id }}">
                    <a href="{% url 'post_detail' post.pk  %}">
                        <img src={{post.image.url}} class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-description">{{post.body|slice:":20" }}</p>
                           
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
           </div>
       </div>

    
{% endblock%}