{% extends 'base.html'%}
{% load static %}
{% block content %}
   
       <div class="container">
           <div class="row">
            {% for post in post_list %}
            <div class="col-lg-4">
                <article class="post post-{{ post.pk }}">
                    <header class="entry-header">
                        <h1 class="entry-title">
                            <a href="">{{ post.title }}</a>
                        </h1>
                </article>
            </div>
            {% endfor %}
           </div>
       </div>

{% endblock%}