{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="breadcrumb-bg">
    <div class="container">
      <ul class="breadcrumb">
         <li><a href="#">Página Inicial</a></li>
         <li class="currrent">Contato</li>
       </ul>
    </div>
  </div>

  <div class="contact-page">
    <div class="container">
      <div class="row">
        <div class="offset-7 col-md-4 col-sm-12">
          <div class="contact-wrapper">
            <p>Entre em contato com a gente pelos canais: </p>
            <a href="" class="btn whatsapp-button">
              Whatsapp
            </a>
            <a href="" class="btn instagram-button">
              Instagram
            </a>
          </div>
        </div>
    </div>
  </div>
</div>

{% endblock%}