{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="breadcrumb-bg">
    <div class="container">
      <ul class="breadcrumb">
         <li><a href="#">Página Inicial</a></li>
         <li class="currrent">Contato</li>
       </ul>
    </div>
  </div>

  <div class="contact-page pt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="contact-form">
            <h2>Contato</h2>
            <p>Preencha o formulário abaixo para entrar em contato conosco.</p>
            <form class="needs-validation py-5" novalidate >
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="validationCustom01">Seu nome</label>
                  <input type="text" class="form-control" id="validationCustom01" placeholder="Seu nome" value="" required>
                  <div class="valid-feedback">
                    Tudo certo
                  </div>
                  <div class="invalid-feedback">
                     Digite seu nome
                   </div>
                 </div>
                <div class="col-md-6 mb-3">
                  <label for="validationCustom02">Seu Sobrenome</label>
                  <input type="text" class="form-control" id="validationCustom02" placeholder="Seu Sobrenome" value="" required>
                  <div class="valid-feedback">
                    Tudo certo
                  </div>
                  <div class="invalid-feedback">
                    Digite seu sobrenome
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <label for="validationCustomUsername"> Em que podemos ajudar? </label>
                  <div class="input-group">
                    <textarea class="form-control" id="validationCustomUsername" placeholder="Sua dúvida" rows="10" aria-describedby="inputGroupPrepend" required></textarea>
                    <div class="invalid-feedback">
                     Digite como podemos te ajudar
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn btn-primary my-5" type="submit"> Enviar </button>
            </form>
            
            <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function() {
              'use strict';
              window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                  form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                      event.preventDefault();
                      event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                  }, false);
                });
              }, false);
            })();
            </script>
          </div>
         </div>   
      </div>
    </div>

{% endblock%}