{% load static%}
<section class="cta">
    <div class="cta-content container">
        <div class="row">
            <div class="col-lg-6 cta-content--text">
                <h1> CONHEÇA MAIS SOBRE O CURSINHO POPULAR QUE MAIS CRESCE EM RIO PRETO</h1>
                <p> lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempo</p>
                <div class="cta-content--btn">
                    <a href="{% url 'about'%}">Saiba mais</a>
                </div>
            </div>
            <div class="col-lg-6 cta-content--img">
                <img src="{% static 'images/cta.png' %}" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>