{% load static%}
<footer class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
              <h5>SOBRE O CURSINHO</h5>
               <p>O cursinho dos alunos da FAMERP está com matrículas abertas,
                entre em contato e faça já a sua.</p>
            </div>
   
      
            <div class="col-lg-3">
              <h5>ENDEREÇO</h5>
               <a href="" class="adress-a">
                Avenida Brigadeiro Faria Lima 5416 - Vila Sao Manoel - FAMERP - Pavilhão Fleury (Entrada pelo estacionamento do HB-SUS ou do HCM)
                </a>
            </div>


            <div class="col-lg-3">
                <h5>HORÁRIOS</h5>
                <p>
                    
                    <ul class="hours">
                        <li> Segunda-feira - 18:00 - 22:50 </li>
                        <li> Terça-feira - 18:00 - 22:50 </li>
                        <li> Quarta-feira - 18:00 - 22:50 </li>
                        <li> Quinta-feira - 18:00 - 22:50 </li>
                        <li> Sexta-feira - 18:00 - 22:50 </li>
                    </ul>


                </p>
              </div>

                 
            <div class="col-lg-3">
                <h5>PARCERIA</h5>
                <img src="{% static 'images/etapa.png' %}" alt="" class="img-fluid" width="130px">
              </div>
      
  
          </div>
      
          <div class="d-flex justify-content-between py-4 my-4 border-top">
            <p>© 2021 - Desenvolvido por Rebecca Domiciano Ignácio. Todos os direitos reservados.</p>
            <ul class="list-unstyled d-flex">
              <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
              <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
              <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
            </ul>
          </div>
    </div>
  </footer>