{% extends 'base.html'%}
{% load static %}
{% block content %}
        <main>
            <section class="banner-hero">
                <div class="container">
                  <div class="banner-hero--text">
                    <h1> A REALIZAÇÃO DO SEU SONHO É O NOSSO <span><strong>SUCESSO</strong></span>
                    </h1>
                 <p>O cursinho dos alunos da FAMERP está com matrículas abertas, <br/> entre em contato e faça já a sua. 
                 </p>

                 <div class="btn-banner">
                    <a href="">Fale com a gente </a>
                 </div>
                  </div>
                </div>
            </section>

            <section class="advantages">
                <div class="container px-4 py-5" id="featured-3">
                    <h2 class="pb-2">Preparação completa para
                        qualquer desafio</h2>
                    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                      <div class="feature col">
                        <div class="feature-icon">
                          <img src="{% static 'images/exemple-icon.png' %}" alt="">
                        </div>
                        <h2>Orientação pedagógica</h2>
                        <p>Oferecemos apoio emocional individualizado e o ajudamos a criar um plano de estudos sob medida.</p>

                      </div>
                      <div class="feature col">
                        <div class="feature-icon">
                            <img src="{% static 'images/exemple-icon.png' %}" alt="">
                          </div>
                        <h2>Atendimento de redação</h2>
                        <p>Precisa aprimorar a escrita? Agende um horário com os nossos especialistas em correção de redação.</p>
                      </div>
                      <div class="feature col">
                        <div class="feature-icon">
                            <img src="{% static 'images/exemple-icon.png' %}" alt="">
                          </div>
                        <h2>Atendimento de redação</h2>
                        <p>Precisa aprimorar a escrita? Agende um horário com os nossos especialistas em correção de redação.</p>
                      </div>
                      <div class="feature col">
                        <div class="feature-icon">
                            <img src="{% static 'images/exemple-icon.png' %}" alt="">
                          </div>
                        <h2>Atendimento de redação</h2>
                        <p>Precisa aprimorar a escrita? Agende um horário com os nossos especialistas em correção de redação.</p>
                      </div>
                      <div class="feature col">
                        <div class="feature-icon">
                            <img src="{% static 'images/exemple-icon.png' %}" alt="">
                          </div>
                        <h2>Atendimento de redação</h2>
                        <p>Precisa aprimorar a escrita? Agende um horário com os nossos especialistas em correção de redação.</p>
                      </div>
                      <div class="feature col">
                        <div class="feature-icon">
                            <img src="{% static 'images/exemple-icon.png' %}" alt="">
                          </div>
                        <h2>Plantão de dúvidas</h2>
                        <p>Contamos com plantões on-line e presenciais. É só escolher o que mais combina com você.</p>
                      </div>
                    </div>
                  </div>
            </section>

            <section class="cta">
                <div class="cta-content container">
                    <div class="row">
                        <div class="col-lg-6 cta-content--text">
                            <h1> CONHEÇA MAIS SOBRE O CURSINHO POPULAR QUE MAIS CRESCE EM RIO PRETO</h1>
                            <p> lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempo</p>
                            <div class="cta-content--btn">
                                <a href="">Saiba mais</a>
                            </div>
                        </div>
                        <div class="col-lg-6 cta-content--img">
                            <img src="{% static 'images/cta.png' %}" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </section>

            <section class="blog py-5">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>FIQUE POR DENTRO DAS NOVIDADES</h2>
                  </div>
                </div>
                <div class="row py-3">
                    <div class="item-blog col-lg-4">
                      <a href="">
                      <div class="item-blog-icon pt-2">
                        <img src="{% static 'images/blog-exemple.jpg' %}" alt="" class="img-fluid">
                      </div>
                      <h2>Lorem ipsum</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor incididunt ut 
                        labore et.dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p> 
                      </a>
                    </div>
                 
                    <div class="item-blog col-lg-4">
                      <a href="">
                      <div class="item-blog-icon pt-2">
                        <img src="{% static 'images/blog-exemple.jpg' %}" alt="" class="img-fluid">
                      </div>
                      <h2>Lorem ipsum</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor incididunt ut 
                        labore et.dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                      </a>
                    </div>
                
                    <div class="item-blog col-lg-4">
                      <a href="">
                      <div class="item-blog-icon pt-2">
                        <img src="{% static 'images/blog-exemple.jpg' %}" alt="" class="img-fluid">
                      </div>
                      <h2>Lorem ipsum</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor incididunt ut 
                        labore et.dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                        </a>
                    </div>

                    <div class="col-lg-12 text-center pt-5">
                      <a href="" class="show-more-blog"> Ver mais</a>
                    </div>
                
                </div>
              </div>
            </section>

            <section class="testimonials py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2> o que dizem sobre nós </h2>
                        </div>
                    </div>
                    <div class="slider py-5">
                        <div class="slider-item">
                           <p> "lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor incididunt ut labore et.dolore magna aliqua. 
                             Ut enim ad minim veniam, quis nostrud." </p>
                            <h1> John Doe, USA </h1>
                        </div>

                        <div class="slider-item">
                          <p> "lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor incididunt ut labore et.dolore magna aliqua. 
                            Ut enim ad minim veniam, quis nostrud." </p>
                           <h1> John Doe, USA </h1>
                       </div>

                       <div class="slider-item">
                        <p> "lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor incididunt ut labore et.dolore magna aliqua. 
                          Ut enim ad minim veniam, quis nostrud." </p>
                         <h1> John Doe, USA </h1>
                     </div>

                     <div class="slider-item">
                      <p> "lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor incididunt ut labore et.dolore magna aliqua. 
                        Ut enim ad minim veniam, quis nostrud." </p>
                       <h1> John Doe, USA </h1>
                   </div>

                   <div class="slider-item">
                    <p> "lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor incididunt ut labore et.dolore magna aliqua. 
                      Ut enim ad minim veniam, quis nostrud." </p>
                     <h1> John Doe, USA </h1>
                 </div>

                 <div class="slider-item">
                  <p> "lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor incididunt ut labore et.dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud." </p>
                   <h1> John Doe, USA </h1>
               </div>

               <div class="slider-item">
                <p> "lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor incididunt ut labore et.dolore magna aliqua. 
                  Ut enim ad minim veniam, quis nostrud." </p>
                 <h1> John Doe, USA </h1>
             </div>
                  </div>
                </div>
            </section>

            <section class="location">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14916.383910495!2d-49.39617470838695!3d-20.82783044874941!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94bdb283505a019d%3A0xa841a0bde744a78f!2sAv.%20Brg.%20Faria%20Lima%2C%205416%20-%20Vila%20Sao%20Manoel%2C%20S%C3%A3o%20Jos%C3%A9%20do%20Rio%20Preto%20-%20SP%2C%2015090-000!5e0!3m2!1spt-BR!2sbr!4v1639268819096!5m2!1spt-BR!2sbr" 
                        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </section>
        </main>
       
{% endblock %}